
/* ---- particles.js container ---- */

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: relative;
    margin-top: -2%;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


#main-trans
{
  height: 700px;
}
