@font-face {
  font-family: 'Futura Book BT Regular';
  src: url('Futura.ttf') format('truetype');
}
.ico {
  display: none !important;
}
.sections {
  list-style: none;
}
.sections li a {
  color: #fff;
  text-decoration: none;
}
/*.custom > a {
    position: absolute;
    bottom: 37px;
    left: auto;
    right: 37px;
    margin-left: 0;
    width: 51px;
    height: 51px;
    text-align: center;
    z-index: 9;
    background-image: url(../../assets/shared/down.png) transparent 0 0 no-repeat;
    background-image: none, url("../../assets/shared/down.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
    opacity: 1;
}*/
.abtBack
{
  background-image: url("img/M32.png") !important; 
      background-size: cover; background-position: 100% 100%;

}
.indusBack
{
  background-image: url("img/M26.png") !important; 
      background-size: cover; background-position: 100% 100%;
}
.conBack
{
   background-image: url("img/new4.png") !important; 
      background-size: cover; background-position: 100% 100%;
}
.joinBack
{
  background-image: url("img/M26.png") !important;
  background-size: cover; background-position: 100% 100%;
}
.ecomBack
{
   background-image: url("img/ecomBack.png");
      background-size: cover; background-position: 100% 100%;
}
.imgHght
{
  height:600px;
}
.cmsBack
{
  background-image: url("img/cmsBack.png");
      background-size: cover; background-position: 100% 100%;
}
.bg-grad
{
  background: #000000;
  background: radial-gradient(at 4%,#108978,#015c57);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;

}
.mobBack
{
  background-image: url("img/mobBack.png");
      background-size: cover; background-position: 100% 100%;
}
.mobApp
{
  font-size:38pt;
  color:#ffffff;
 
}
.deskBack
{
    background-image: url("img/M19.png");
      background-size: cover; background-position: 100% 100%;
}
#cusPara
{
  font-size:38pt;
  color:#ffffff;
  text-align:center;
  margin-left:10%;
}
#cusCon
{
  font-size:16pt;
  color:#ffffff;
  text-align:right;
  margin-left:24%;
}
.mlBack
{
  background-image: url("img/M22.png");
      background-size: cover; background-position: 100% 100%;
}
.nlpBack
{
  background-image: url("img/M21.png");
      background-size: cover; background-position: 100% 100%;
}
.imgHeight
{
  height:650px;
}
.touchBack
{
   background-image: url("img/touchTable.png");
      background-size: cover; background-position: 100% 100%;
}
.vmBack
{
  background-image: url("img/M24.png");
      background-size: cover; background-position: 100% 100%;
}
.gesBack
{
  background-image: url("img/M25.png");
      background-size: cover; background-position: 100% 100%;
}
.vmanBack
{
      background-image: url("img/Virtual Mannequin.jpg");
      background-size: cover; background-position: 100% 100%;
}
.module .info
{
      background-color: rgba(21, 24, 28, 0.79);
}
.conFont
{
  font-size:16pt;
  font-family: 'Futura Book BT Regular';
}
.content{

  border-left: solid 20px white;
  border-right: solid 20px white;
	width: 1366px;
	z-index:5;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
}
.img{
  margin-bottom: 0px;
}
.logo {
    background-image: url(img/logosmall.png);
    z-index: 15;
    width: 105px;
    height: 36px;
    margin-top: 0;
    margin-left: 0;
    position: fixed;
    top: 47px;
    left: 38px;
    background-repeat: no-repeat;
}
.details{
  background-color: #ffffff;
  border-left: solid 20px white;
  border-right: solid 20px white;
  z-index: 15 !important;
  margin-left: 100px;
}
p{
  z-index: 15;
	margin-left: 10% !important;
	margin-right: 11% !important;
}
*{
	font-family: 'Futura BT', sans-serif;
}
.pages{
	height: 210px;
}
.navigation {
  overflow: hidden;
  height: 7em;
  text-align: center;
  margin-bottom: 0;
  border-left: solid 20px white;
  border-right: solid 20px white;
  *zoom: 1; }
  @media screen and (min-width: 992px) and (max-width: 1399px) {
    .navigation {
      height: 7em;
      margin-bottom: 0; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .navigation {
      height: 7em;
      margin-bottom: 0; } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .navigation {
      margin-bottom: 0;
      height: 102px; } }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    .navigation {
      margin-bottom: 0;
      height: 102px; } }
  .navigation:before, .navigation:after {
    display: table;
    clear: both;
    content: "";
    line-height: 0; }
  .navigation a {
    text-decoration: none;
    color: #bcbcbc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
.navigation a:hover, .navigation a:active, .navigation a:visited {
  color: #fff;
  text-decoration: none;
}
  .navigation a:hover{
    background-color: #101215;
    color: #fff;
    text-decoration: none;
  }
  .navigation .prev {
    cursor: pointer;
    height: 100%;
    background-color: #1e1e22;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 37.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .15em; }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .navigation .prev {
        font-size: 0.6em; } }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      .navigation .prev {
        font-size: 0.6em; } }
    .navigation .prev > div {
      line-height: 240px;
      -webkit-transition: opacity 0.2s linear;
      -moz-transition: opacity 0.2s linear;
      -ms-transition: opacity 0.2s linear;
      -o-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear;
      -webkit-backface-visibility: hidden; }
      @media screen and (min-width: 992px) and (max-width: 1399px) {
        .navigation .prev > div {
          line-height: 105px; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .navigation .prev > div {
          line-height: 105px; } }
      @media screen and (min-width: 480px) and (max-width: 767px) {
        .navigation .prev > div {
          line-height: 105px; } }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        .navigation .prev > div {
          line-height: 105px; } }
    .navigation .prev .ico {
      width: 13px;
      height: 9px;
      display: inline-block;
      margin-right: 0.5em;
      background-image: url(prev.png) transparent 0 0 no-repeat;
      background-image: none, url("prev.svg");
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .navigation .prev:hover .ico {
      -webkit-transform: translate3d(-5px, 0px, 0px);
      -moz-transform: translate3d(-5px, 0px, 0px);
      -ms-transform: translate3d(-5px, 0px, 0px);
      -o-transform: translate3d(-5px, 0px, 0px);
      transform: translate3d(-5px, 0px, 0px); }
  .navigation .all {
    cursor: pointer;
    height: 100%;
    height: 105px;
    background-color: #232327;
    text-transform: uppercase;
    display: table;
    float: left;
    width: 25%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .15em; }
    @media screen and (min-width: 992px) and (max-width: 1399px) {
      .navigation .all {
        height: 105px; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .navigation .all {
        height: 105px; } }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .navigation .all {
        height: 105px;
        font-size: 0.6em; } }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      .navigation .all {
        height: 105px;
        font-size: 0.6em; } }
    .navigation .all > div {
      display: table-cell;
      vertical-align: middle;
      -webkit-transition: opacity 0.2s linear;
      -moz-transition: opacity 0.2s linear;
      -ms-transition: opacity 0.2s linear;
      -o-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear;
      -webkit-backface-visibility: hidden; }
    .navigation .all .ico {
      width: 22px;
      height: 22px;
      display: block;
      margin: auto;
      margin-bottom: 1.5em;
      background-image: url(all.png) transparent 0 0 no-repeat;
      background-image: none, url("all.svg");
      background-repeat: none;
      background-position: 0 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .navigation .all:hover .ico {
      background-position: 0 -12px; }
  .navigation .next {
    cursor: pointer;
    height: 100%;
    background-color: #1e1e22;
    text-transform: uppercase;
    display: block;
    float: left;
    width: 37.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .15em; }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .navigation .next {
        font-size: 0.6em; } }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      .navigation .next {
        font-size: 0.6em; } }
    .navigation .next > div {
      line-height: 105px; }
      @media screen and (min-width: 992px) and (max-width: 1399px) {
        .navigation .next > div {
          line-height: 105px; } }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .navigation .next > div {
          line-height: 105px; } }
      @media screen and (min-width: 480px) and (max-width: 767px) {
        .navigation .next > div {
          line-height: 105px; } }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        .navigation .next > div {
          line-height: 105px; } }
    .navigation .next .ico {
      width: 13px;
      height: 9px;
      display: inline-block;
      margin-left: 0.5em;
      background-image: url(next.png) transparent 0 0 no-repeat;
      background-image: none, url("next.svg");
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .navigation .next:hover .ico {
      -webkit-transform: translate3d(5px, 0px, 0px);
      -moz-transform: translate3d(5px, 0px, 0px);
      -ms-transform: translate3d(5px, 0px, 0px);
      -o-transform: translate3d(5px, 0px, 0px);
      transform: translate3d(5px, 0px, 0px); }
  .navigation div.prev,
  .navigation div.next {
    cursor: default; }
    .navigation div.prev > div,
    .navigation div.next > div {
      opacity: 0.12;
      color: #fff; }
    .navigation div.prev:hover .ico,
    .navigation div.next:hover .ico {
      -webkit-transform: translate3d(0, 0px, 0px);
      -moz-transform: translate3d(0, 0px, 0px);
      -ms-transform: translate3d(0, 0px, 0px);
      -o-transform: translate3d(0, 0px, 0px);
      transform: translate3d(0, 0px, 0px); }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      .navigation div.prev span,
      .navigation div.next span {
        display: none; } }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    .navigation a.prev span,
    .navigation a.next span {
      display: none; } }


div.spacer {
  height: 1px; }

.footer {
  z-index: -5 !important; }
.footer {

      background: url(img/bg-footer.png);
      background-repeat: no-repeat;
      background-size: cover;
  height: 400px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1B1B1E;
  border-left: solid 20px white;
  border-right: solid 20px white;
  border-bottom: solid 20px white; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .footer {
      border: none; } }
  .footer .container {
    height: 100%;
    text-align: center;
    position: relative; }
    .footer .container > div:nth-child(1) {
      position: absolute;
      width: 100%;
      bottom: 0;
      top: auto;
      height: 310px;
      padding-top: 58px;}
      @media screen and (min-width: 480px) and (max-width: 767px) {
        .footer .container > div:nth-child(1) {
          height: 220px;
          padding-top: 40px; } }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        .footer .container > div:nth-child(1) {
          height: 220px;
          padding-top: 40px; } }
      .footer .container > div:nth-child(1) > a {
        color: #ffffff;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 0.9375em;
        letter-spacing: .15em;
        text-transform: uppercase; }
        .footer .container > div:nth-child(1) > a:hover {
          color: #69696B; }
      .footer .container > div:nth-child(1) .social {
        width: 100%;
        text-align: center;
        margin: 2.75em 0 0; }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          .footer .container > div:nth-child(1) .social {
            margin: 2em 0 0; } }
        .footer .container > div:nth-child(1) .social a {
          margin: 0 .35em;
          text-decoration: none;
          opacity: 1;
          -webkit-transition: all 0.15s ease;
          -moz-transition: all 0.15s ease;
          -o-transition: all 0.15s ease;
          transition: all 0.15s ease;
          width: 1346px;
          height: 46px;
          background-size: cover; }
          .footer .container > div:nth-child(1) .social a.out {
            opacity: 0.3; }
    .footer .container > div:nth-child(2) {
      position: absolute;
      width: 100%;
      color: #969696;
      bottom: 53px;
      letter-spacing: .05em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      font-size: .4em;
      text-transform: uppercase; }
      @media screen and (min-width: 480px) and (max-width: 767px) {
        .footer .container > div:nth-child(2) {
          font-size: 0.4em;
          bottom: 25px;
          line-height: 1.3; } }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        .footer .container > div:nth-child(2) {
          font-size: 0.4em;
          bottom: 25px;
          line-height: 1.3;
          padding: 0 5%; } }
  .home .footer {
    /*z-index: 0;*/ }
  .projects .footer {
    z-index: -5; }
  .about .footer {
    z-index: -5; }
  .contact .footer {
    display: none;
    z-index: -5; }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    border-left: none;
    border-right: none;
    border-bottom: none;
    z-index: -5 !important; } }
@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer {
    border-left: none;
    border-right: none;
    border-bottom: none;
    z-index: -5 !important; } }
/* footer relative for devices */
@media screen and (max-width: 768px) {
    /*
    .content {
        .projects & {
            margin:0;
        }
    }

    .footer {
        .projects & {
            position:relative;
            left:auto;
            bottom:auto;
            right:auto;
            border-left:none;
            border-right:none;
        }
    }
    */ }


.footer{
  font-size: 20pt;
  color: #ffffff;
}
.cover {
  z-index: 100; }

.top {
  z-index: 100; }

.bottom {
  z-index: 100; }

.left {
  z-index: 100; }

.right {
  z-index: 100; }
.overlay {
  z-index: 100; }

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 22px;
  background-color: #ffffff; }

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #ffffff; }

.left {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background-color: #ffffff; }

.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background-color: #ffffff; }
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #15181C;
  opacity: .75; }

  .toggle {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 2.8em 2.8em;
  cursor: pointer; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .toggle {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1.7em 1.5em;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden;
      margin: 30px;
      transform: scale(0.8); } }
  @media screen and (min-width: 480px) and (max-width: 767px) {
    .toggle {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1.7em 1.5em;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden;
      margin: 5px 15px;
      transform: scale(0.65); } }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    .toggle {
      background-color: rgba(0, 0, 0, 0.8);
      padding: 1.7em 1.5em;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden;
      margin: 5px 15px;
      transform: scale(0.65); } }
  .toggle > div {
    height: 1.65em;
    width: 1.65em; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .toggle > div {
        height: auto; } }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .toggle > div {
        height: auto; } }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      .toggle > div {
        height: auto; } }
    .toggle > div > div {
      width: 100%;
      height: 3px;
      margin: 0 0 .43em 0;
      background-color: #ffffff;
      transition-duration: .3s;
      transition-delay: 0s, 0s, 0s, 0s; }
      .toggle > div > div:nth-child(3) {
        width: 50%;
        float: right; }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .toggle > div > div:nth-child(3) {
          margin: 0;
          width: 100%; } }
      @media screen and (min-width: 480px) and (max-width: 767px) {
        .toggle > div > div:nth-child(3) {
          margin: 0;
          width: 100%; } }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        .toggle > div > div:nth-child(3) {
          margin: 0;
          width: 100%; } }
  .toggle:hover > div > div:nth-child(3) {
    width: 100%; }
  .toggle.open > div > div:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg); }
  .toggle.open > div > div:nth-child(2) {
    opacity: 0; }
  .toggle.open > div > div:nth-child(3) {
    width: 100%;
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg); }
  .toggle.dark > div > div {
    background-color: #15181C; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .toggle.dark > div > div {
        background-color: #fff; } }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      .toggle.dark > div > div {
        background-color: #fff; } }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      .toggle.dark > div > div {
        background-color: #fff; } }
  .toggle.ligth > div > div {
    background-color: #ffffff; }

.overlay {
  z-index: 11; }

.toggle {
  z-index: 25; }
  .menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
z-index: 15}
  .menu a {
    color: white; }
  .menu .container {
    position: relative;
    width: 100%;
    height: 100%; }
    .menu .container > div:nth-child(1) {
      position: absolute;
      top: 20px;
      left: 20px;
      bottom: 20px;
      right: 20px;
      background-color: #15181C;
      opacity: .95; }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        .menu .container > div:nth-child(1) {
          left: 0;
          top: 0;
          bottom: 0;
          right: 0; } }
      @media screen and (min-width: 480px) and (max-width: 767px) {
        .menu .container > div:nth-child(1) {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0; } }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        .menu .container > div:nth-child(1) {
          top: 0;
          left: 0;
          bottom: 0;
          right: 0; } }
    .menu .container > div:nth-child(2) {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
      .menu .container > div:nth-child(2) ul.sections li {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 2em;
        letter-spacing: .2em;
        text-transform: uppercase;
        margin: 0 0 1.25em 0; }
        @media screen and (min-width: 480px) and (max-width: 767px) {
          .menu .container > div:nth-child(2) ul.sections li {
            font-size: 1em; } }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          .menu .container > div:nth-child(2) ul.sections li {
            font-size: 1.5em; } }
        .menu .container > div:nth-child(2) ul.sections li:last-child {
          margin: 0 0 2em 0; }
          @media screen and (min-width: 480px) and (max-width: 767px) {
            .menu .container > div:nth-child(2) ul.sections li:last-child {
              margin-bottom: 1em; } }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            .menu .container > div:nth-child(2) ul.sections li:last-child {
              margin: 0 0 1.5em 0; } }
        .menu .container > div:nth-child(2) ul.sections li a {
          opacity: 1;
          -webkit-transition: opacity 0.15s linear;
          -moz-transition: opacity 0.15s linear;
          -ms-transition: opacity 0.15s linear;
          -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear; }
          .menu .container > div:nth-child(2) ul.sections li a.out {
            opacity: 0.3; }
      .menu .container > div:nth-child(2) ul.languages li {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: .75em;
        letter-spacing: .2em;
        text-transform: uppercase; }
        @media screen and (min-width: 480px) and (max-width: 767px) {
          .menu .container > div:nth-child(2) ul.languages li {
            font-size: 0.6em; } }
        .menu .container > div:nth-child(2) ul.languages li::after {
          content: ' | '; }
        .menu .container > div:nth-child(2) ul.languages li:last-child::after {
          content: ''; }
      .menu .container > div:nth-child(2) a {
        margin: 0 .5em;
        text-decoration: none;
        opacity: 1;
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
        transition: all 0.15s ease; }
        .menu .container > div:nth-child(2) a.out {
          opacity: 0.3; }
    .menu .container > div:nth-child(3) {
      text-align: center;
      position: absolute;
      bottom: 7.5%;
      left: 50%;
      width: 100%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
      @media screen and (min-width: 480px) and (max-width: 767px) {
        .menu .container > div:nth-child(3) {
          bottom: 5%; } }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        .menu .container > div:nth-child(3) {
          bottom: 5%; } }
      .menu .container > div:nth-child(3) a {
        margin: 0 .5em;
        text-decoration: none;
        opacity: 1;
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
        transition: all 0.15s ease; }
        .menu .container > div:nth-child(3) a.out {
          opacity: 0.3; }
        @media screen and (min-width: 480px) and (max-width: 767px) {
          .menu .container > div:nth-child(3) a {
            width: 26px;
            height: 26px;
            background-size: cover;
            margin: 0 .2em; } }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          .menu .container > div:nth-child(3) a {
            width: 38px;
            height: 38px;
            background-size: cover; } }
p{
  margin-bottom: 0px;
}
.main{
  z-index: 5;
  background-color: #ffffff;
  margin-top: 20px;
}
#pagefooter{
  padding-top: 92px;
}
#pagefooter div:nth-child(1),
#pagefooter div:nth-child(3) {
  visibility: hidden;
}
.bg-vr{
  height: 600px;
  background: #000000;
  background: radial-gradient(#ebc050,#f3aa44);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.bg-vr1
{
  height: 600px;
  background: #000000;
  background: radial-gradient(#93278f,#662d91);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
